html {
	font-size: 10px;
}

h1 {
	font-size: 5rem;
	text-align: center;
	text-transform: capitalize;
	text-shadow: 1px 1px 1px red, 2px 2px 1px red;
}

h1 + p {
	font-weight: bold;
}

p {
	color: red;
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 1.5rem;
	font-kerning: none;
	font-variant: small-caps;
	line-height: 1.6;
}

p::first-line {
	letter-spacing: 4px;
	word-spacing: 4px;
}
article {
	font-size: 1.5em;
}

article p {
	font-size: .86em;
	font-size: 20px;
	text-decoration: line-through underline overline;
	text-transform: full-width;
	text-shadow: 0px 4px 5px red, 0px -4px 5px orange;
	text-align: right;
	font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;

}