html {
	background-color: lightgoldenrodyellow;
	inline-size: 700px;
	border: 2px solid gray;
	margin: 50px auto;
	
}
body {
	inline-size: 500px;
	block-size: 1400px;
	margin: 0 auto;
	border: 2px solid red;
}

p {
	background: aqua;
	border: 3px solid blue;
	padding: 10px;
	margin: 10px;
}

p:nth-of-type(1){
	margin-top: 60px;
}
span {
	background: red;
	border: 1px solid black;
}

h1:nth-of-type(2) {
	position: fixed;
	/* top: 0; */
	inline-size: 500px;
	margin-top: 0;
	background-color: lightgoldenrodyellow;
	padding: 10px;

}

.last {
	position: fixed;
	inline-size: 454px;
}

dt {
	background-color: black;
	color: white;
	padding: 10px;
	position: sticky;
	top: 0;
	left: 0;
	margin: 1em 0;
}