.wrapper {
	border: 1cm solid red;
	display: flex;
	align-items: flex-start;
}

.wrapper > * {
	margin: 20px;
}
.box {
	border: 2mm solid black;
	inline-size: 200px;
	block-size: 200px;
}

img {
	max-width: 100%;
}