.input {
	align-items: center;
	display: flex;
	position: relative;
	inline-size: 100%;
}

.input__box {
	inline-size: 100%;
	border: none;
	border-radius: 50px;
	box-shadow: inset 0 0 .5rem black;
	font-size: 1.5rem;
	padding: 1rem 1.5rem;
	transition: 0.2s;
}

.input__box:focus {
	box-shadow: 0 0 10px 100000px rgba(0, 0, 0, .5);
	outline: none;
}

.input__submit {
	background-color: #2f74c0;
	block-size: 3rem;
	border: none;
	border-radius: 50px;
	box-shadow: 0 0 10px black;
	color: white;
	font-size: 1.2rem;
	inline-size: 3rem;
	margin: .7rem;
	position: absolute;
	right: 0px;
	transition: 0.2s all;
}

.input__submit:hover {
	background-color: #388ae2;
}

.input__submit:active {
	transform: scale(0.8);
	box-shadow: 0 0 5px black;
}

.tasks {
	display: flex;;
	/* flex-direction: column; */
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

.todos__single {
	background-color: gold;
	border-radius: 5px;
	display: flex;
	margin-top: .8rem;
	padding: 1.2rem;
	width: 25%;
}

.todos__single--text {
	border: none;
	flex: 1;
	font-size: 1.2rem;
	padding: .4rem;
}

.icon {
	margin-inline-start: .7rem;
	font-size: 1.3rem;
	cursor: pointer;
}
@media (max-width: 400px) {
	.todos__single {
		width: 100%;
	}
}