
/* SPACING */

table {
	border: 3px solid purple;
	/* border-collapse: collapse; */
	table-layout: fixed;
	width: 100%;
}

thead th:nth-child(1) {
	width: 30%;
}

thead th:nth-child(2) {
	width: 20%;
}

thead th:nth-child(3) {
	width: 15%;
}

thead th:nth-child(4) {
	width: 35%;
}

/* TYPOGRAPHY */

html {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
	font-family: "Rock Salt", cursive;
}

th, td {
	padding: 20px;
}

th {
	letter-spacing: 2px;
}

td {
	letter-spacing: 1px;
	/* letter-spacing: 0.1em; */
}

tbody td {
	text-align: center;
}

tfoot th {
	text-align: right;
}

/* GRAPHICS AND COLORS */

thead,
tfoot {
	background-image: url("../images/leopardskin.jpg");
	color: white;
	text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.5)
	);
	border: 3px solid purple;
}

/* ZEBRA STRIPING */

tbody tr:nth-child(odd) {
	background-color: #ff33cc;
}

tbody tr:nth-child(even) {
	background-color: #e495e4;
}

tbody tr {
	background-image: url("../images/noise.png");
}

table {
	background-color: #ff33cc;
}

th, td {
	/* border: 5px solid purple; */
}

/* CAPTION */

caption {
	caption-side: bottom;
	color: #666;
	font-family: "Rock Salt", cursive;
	font-style: italic;
	letter-spacing: 10px;
	padding: 20px;
	text-align: right;
}