.wrapper {
	background-color: rgb(79, 185, 227);
	color: #fff;
	padding: 10px;
	border: 3px solid red;
	display: flow-root;
}

.box {
	background-color: rgb(207, 232, 220);
	border: 2px solid darkolivegreen;
	border-radius: 5px;
	inline-size: 150px;
	block-size: 150px;
	padding-left: 1em;
	padding-top: 1em;

	float: left;
	margin: 15px;
}

.cleared {
	/* clear: left; */
}

/* .wrapper::after {
	content: "";
	clear: both;
	display: block;
} */

